[[ruleset]]
handled_access_fs = ["v5.all"]

[[ruleset]]
handled_access_net = ["bind_tcp"]

# Main system directories can be read.
[[path_beneath]]
allowed_access = ["v5.read_execute"]
parent_fd = [".", "/bin", "/lib", "/usr", "/dev", "/etc", "/proc",]

# Only allow writing to /tmp.
[[path_beneath]]
allowed_access = ["v5.read_write"]
parent_fd = ["/tmp"]

# Only web ports are allowed.
[[net_port]]
allowed_access = ["bind_tcp"]
port = [80, 443,]
